/* стили контейнера под кнопки слайдера "вперед" и "назад" */
.course__slider-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/2;
  grid-row: 3/4;
}