/* стили картинки */
.orders__image {
  max-width: 648px;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media screen and (max-width: 999px) {
  .orders__image {
   max-width: 688px;
  }
}

@media screen and (max-width: 499px) {
  .orders__image {
    max-width: 280px;
  }
}