/* Самые общие стили блока composition */
.composition {
  /* border: 1px solid black; */
  background: #FFCE00;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
}

@media screen and (max-width: 999px) {
  .composition {
    padding-top: 38px;
    padding-left: 38px;
    padding-bottom: 39px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

@media screen and (max-width: 499px) {
  .composition {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 18px;
    padding-left: 19px;
  }
}