.course__button {
  background: #fff;
  border: 2px solid #000;
  border-radius: 9999px;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
  justify-self: start;
  align-self: end;
  padding-left: 68px;
  padding-right: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.1s;
 
}

.course__button:hover {
  font-weight: 500;
}