
.actions__line {
  margin: 0;
  display: none;
}

@media screen and (max-width: 999px) {
  .actions__line {
    display: block;
    border-bottom: 1px solid #fff;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}