/* стили подписи - камера */
.actions__caption {
  /* border: 1px solid yellowgreen; */
  margin: 0;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media screen and (max-width: 999px) {
  .actions__caption {
    grid-row: 3/4;
    margin-left: 4px;
  }
}