
.course__subtitle {
  border: 1px solid green;
  margin: 0;
  margin-top: 60px; 
  margin-left: 4px;
  max-width: 469px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 999px) {
  .course__subtitle {
   margin-top: 0;
  }
}