/* модификатор - стили кнопки - записаться */
.button_write-down {
  align-self: end;
 
}

@media screen and (max-width: 999px) {
  .button_write-down {
    margin-top: 41px;
  }
}

@media screen and (max-width: 499px) {
  .button_write-down {
    margin-top: 0;
  }
}